[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
numpy = "*"
statsmodels = "*"
librosa = "*"
django-cors-headers = "*"
djangorestframework = "*"
soundfile = "*"
ffmpeg = "*"
python-ffmpeg = "*"

[dev-packages]

[requires]
python_version = "3.12"
